// message input styles
.uim-message-input {
  display: flex;
  flex-direction: column;
  &-main {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 8px 8px;
    gap: 12px;
    .input-box {
      flex: 1;
      display: flex;
      padding: 0 8px;
      position: relative;
      min-height: 120px;
      max-height: 400px;
      border-radius: 0px;
      overflow: hidden;
      padding: 10px;
      textarea {
        /*position: absolute;
        top: 0;
        left: 0;
        */
        width: -webkit-fill-available;
        height: auto;
        flex: 1;
        font-family: PingFangSC;
        font-style: normal;
        /*font-weight: 500;*/
        font-size: 14px;
        line-height: 17px;
        margin: 0;
        resize: none;
        border: none;
        background: none;
        &:focus, &:active{
          border: none;
          outline: none;
        }
      }
    }
  
    .disabled {
      display: none;
    }
  }
  &-box {
    flex: 1;
    display: flex;
    min-height: 120px;
    max-height: 400px;
  }
}

ul li {
  list-style: none;
}

.input-plugin-popup {
  position: relative;
  &-box {
    position: absolute;
    z-index: 2;
    bottom: 30px;
  }
}
.input-plugin-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  font-family: PingFangSC-Medium;
  line-height: 19px;
  display: flex;
  span {
    padding: 0 17px;
  }
}


// emoji picker styles
.emoji-picker {
  .face-list {
    min-width: 265px;
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    max-height: 120px;
    overflow-y: auto;
    &-item {
      padding: 5px;
      cursor: pointer;
      img {
        width: 20px;
      }
      .face-img {
        width: 38px;
      }
    }
  }
  .face-tab {
    display: flex;
    align-items: center;
    min-width: 265px;
    &-item {
      cursor: pointer;
      width: 24px;
      padding: 10px;
      img {
        width: 100%;
      }
    }
  }
  .emoji-plugin-right {
    right: 0;
  }
}


// upload styles
.upload-picker {
  position: relative;
  &:hover {
    background: rgba(0,110,255,.1);
    color: #147aff;
  }
  input {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

.input-quote {
  padding: 7px 16px;
  background: #F9F9F9;
  display: flex;
  align-items: center;
  &-content {
    flex: 1;
    background: #FFFFFF;
    padding: 2px 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    font-family: PingFangSC-Medium;
    line-height: 17px;
    color: #000000;
    &::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 100%;
      background: #999999;
      top: 0;
      left: 0;
    }
    span {
      padding-top: 8px;
      opacity: 0.6;
    }
  }
  .icon {
    margin: 0 5px 0 16px;
  }
}

// UIForward
.uim-forward {
  background: #FFFFFF;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
  &-header {
    display: flex;
    align-items: center;
    padding: 24px 20px;
  }
  &-title {
    padding: 0 16px;
    font-family: PingFangSC-Medium;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
  &-main {
    padding: 0 20px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    .no-result {
      font-family: PingFangSC-Medium;
      font-size: 14px;
      font-style: normal;
      line-height: 20px;
      padding: 10px;
      text-align: center;
      color: #999999;
    }
  }
  &-search {
    padding: 10px 15px;
  }
  &-list {
    padding: 13px 0;
    &-title {
      font-family: PingFangSC-Medium;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }
    &-item {
      padding: 6px 0;
      font-family: PingFangSC-Medium;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .info {
        display: flex;
        align-items: center;
        &-nick {
          padding: 0 13px;
          font-family: PingFangSC-Medium;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          min-width: 180px;
          max-width: 300px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
  &-footer {
    background: rgba(249, 249, 249, 0.94);
    padding: 13px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button {
      cursor: pointer;
      background: #0365F9;
      border-radius: 31px;
      padding: 10px 21px;
      font-family: PingFangSC-Medium;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
      border: none;
    }
    &-name {
      flex: 1;
      overflow : hidden;
      word-break: break-all;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

.transmitter {
  padding: 0 10px;
  .icon-send {
    transform: rotate(90deg);
  }
}






.uim-emojisearch {
  bottom: calc(100%);
  left: 0;
  width: calc(100% - 20px);
  position: absolute;
  background: var(--white95);
  box-shadow: 0 0 1px 0 var(--black30), 0 0 6px 0 var(--black10);
  z-index: 10001;
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
  margin: 0 var(--xs-m);
  max-height: 360px;
  overflow-y: auto;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
  }
}


.uim-message-textarea-react-host {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.uim-message-textarea {
  width: 100%;
  display: flex;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  font-family: PingFangSC;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  resize: none;
  border: none;
  background: none;
  &:focus, &:active{
    border: none;
    outline: none;
  }
}